

  .messageBox{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgb(163, 158, 158);
    max-height: 100%;
    border-radius: 0%;
    width: 100%;
    
  }

  .Chatpage{
    background-color: rgba(33, 31, 34, 0.833);

  }

  .chatbox{
    background-color: rgb(238, 236, 239);
    overflow-y: scroll;
    margin-left: -30%;
    margin-top: 0%;
    width: 70%;
    max-height: 98%;
  }

  .mychats{
    background-color: rgb(245, 242, 248);
    overflow-y: scroll;
    margin-left: 1%;
    margin-top: 0%;
    width: 51%;
    max-height: 98%;
  }

  .SingleChat{
    background-color: whitesmoke;
    height: 100%;
    width: 60vw;
  }
